$black: rgb(0, 0, 0);

[theme-mode='light'] {
	--primary: rgb(225, 225, 225);
	--secondary: rgba(35, 0, 7, 1);
	--gold: rgb(210, 165, 0);
	--gray: rgba(175, 175, 175, 0.25);
}

[theme-mode='dark'] {
	--primary: rgba(35, 0, 7, 1);
	--secondary: rgb(225, 225, 225);
	--gold: rgb(235, 185, 0);
	--gray: rgba(125, 125, 125, 0.75);
}
