@use './variables';

.contact {
	.section_contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 2rem;

		> h3 {
			min-width: 100px;
		}
	}

	.container:not(:first-child) {
		display: flex;
		flex-direction: row;
		margin-bottom: 1rem;
	}

	.contact_method {
		display: block;
		margin: 1rem;
		padding: 0.5rem;
		color: var(--secondary);

		h3 {
			margin: 0 auto;
			width: fit-content;
			padding-bottom: 0.5rem;
			transition: 0.25s ease;
			border-bottom: 2px solid var(--primary);
		}

		&:hover h3 {
			color: var(--gold);
			border-bottom: 2px solid var(--gold);
			fill: var(--gold);
		}
	}

	svg {
		width: 3rem;
		height: 3rem;
	}

	.email {
		color: var(--secondary);

		svg {
			width: 3rem;
			height: 3rem;
			fill: var(--secondary);
		}

		path {
			transition: 0.25s ease;
		}

		&:hover path {
			fill: var(--gold);
		}
	}

	.github {
		path:last-child {
			transition: 0.25s ease;
			fill: var(--secondary);
		}

		&:hover path {
			fill: var(--gold);
		}
	}

	.linkedin {
		path {
			fill: var(--secondary);
		}

		path:last-child {
			fill: var(--primary);
		}

		&:hover path:first-child {
			fill: var(--gold);
		}
	}
}
