@use './variables';

.contact {
	transition: inherit;

	.section_contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 2rem;

		> h3 {
			min-width: 100px;
			user-select: none;
		}
	}

	.container:not(:first-child) {
		display: flex;
		flex-direction: row;
		margin: 0.5rem;
	}

	.contact_method {
		display: block;
		margin: 1rem;
		transition: 0.25s ease;
		color: var(--secondary);

		h3 {
			padding: 0.5rem;
			margin: 0 auto;
			width: fit-content;
			line-height: 2rem;
			transition: inherit;
		}

		&:hover {
			transition: 0.5s ease;
			transform: scale(1.25);
		}
	}

	.email,
	.github,
	.linkedin {
		svg {
			display: block;
			margin: auto;
			width: 3rem;
			height: 3rem;
			color: var(--secondary);
			transition: 0.5s ease;
		}
	}

	.linkedin {
		path {
			transition: 0.5s ease;
		}

		path:last-child {
			transition: 0.5s ease;
			fill: var(--primary);
		}
	}
}
