@use './variables';

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-bottom: 2rem;
	background-image: url('./home_background.jpg');
	background-size: auto;
	background-size: cover;
	transition: inherit;

	h1 {
		margin: 1rem;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		color: variables.$black;
		transition: inherit;
		background-color: var(--gold);
		opacity: 0.85;
		padding: 1rem;
		border-radius: 0.25rem;
	}

	h2 {
		margin: 1rem;
		opacity: 0.85;
		padding: 0.5rem 1rem;
		color: variables.$black;
		background-color: var(--gold);
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		transition: inherit;
		clip-path: polygon(
			12px 0%,
			100% 0px,
			100% 12px,
			100% calc(100% - 12px),
			calc(100% - 12px) 100%,
			0px 100%,
			0% calc(100% - 12px),
			0% 12px
		);
	}

	span {
		white-space: nowrap;
		margin: 0.5rem;
	}
}

.socials {
	position: absolute;
	right: 0;
	top: 500px;
	display: flex;
	flex-direction: column;
	transition: inherit;

	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		color: variables.$black;
		background-color: var(--gold);
		transform: translateX(calc(100% - 3.5rem));
		transition: 0.25s ease;

		&:first-child {
			border-top-left-radius: 0.25rem;
		}

		&:last-child {
			border-bottom-left-radius: 0.25rem;
		}

		&:hover {
			transform: translateX(0);
			border-top-left-radius: 0.25rem;
			border-bottom-left-radius: 0.25rem;
		}

		&:active {
			filter: brightness(120%);
		}
	}

	h4 {
		margin: 0.5rem;
		margin-right: 1rem;
	}

	svg {
		width: 2.5rem;
		height: 2.5rem;
		margin: 0.5rem;
		color: variables.$black;
		transition: inherit;
	}

	path {
		transition: inherit;
	}

	.linkedin {
		path:last-child {
			fill: var(--gold);
		}
	}
}
