@use './variables';

.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	user-select: none;

	ul {
		display: flex;
		flex-direction: column;
	}

	svg {
		width: 1rem;
		height: 1rem;
		margin-right: 0.25rem;
	}

	a {
		display: flex;
		flex-direction: row;
	}

	li:nth-child(2) {
		a {
			border-top-right-radius: 0.25rem;
		}
	}

	li:not(:first-child) {
		transition: 0.5s ease;
		transform-origin: left;
		animation: slideOut 0.5s ease forwards;
	}

	@keyframes slideOut {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-100%);
		}
	}

	li:first-child {
		width: fit-content;
		margin: 0.5rem 0.75rem;
		order: -1;
	}

	a,
	.mode {
		flex: 1;
		color: variables.$black;
		background-color: var(--gold);
		padding: 0.75rem;
		border: 2px solid transparent;
		transition: 0.25s ease;
		cursor: pointer;
	}

	a:hover,
	.mode:hover {
		filter: brightness(110%);
		border-color: var(--secondary);
	}

	a:active,
	.mode:active {
		filter: brightness(120%);
	}

	.mode {
		display: flex;

		&.dark {
			.moon {
				opacity: 1;
				transform: rotate(0);
			}
		}

		&.light {
			.sun {
				opacity: 1;
				transform: rotate(0);
			}

			.mode_slider_circle {
				transform: rotateY(180deg);
			}
		}
	}

	.mode_icon {
		width: 1rem;
		height: 1rem;
		display: grid;
		margin-right: 0.25rem;

		svg {
			margin: 0;
			grid-column: 1;
			grid-row: 1;
			transition: 0.5s ease;
			opacity: 0;
			transform: rotate(180deg);
		}
	}

	.mode_slider {
		margin-left: 0.5rem;
		border-radius: 1rem;
		background-color: var(--primary);
		transition: 0.5s ease;
	}

	.mode_slider_circle {
		width: 0.75rem;
		height: 0.75rem;
		margin: 0.15rem;
		border-radius: 50%;
		background-color: var(--secondary);
		transition: 0.5s ease;
	}

	.socials {
		display: flex;
		flex-direction: row;

		a {
			flex: 1;
			padding: 0;
			padding: 0.25rem;
		}

		svg {
			width: 1rem;
			height: 1rem;
			margin: auto;
		}

		.email {
			color: variables.$black;
			border-bottom-right-radius: 0.25rem;
		}

		.github {
			path:last-child {
				transition: 0.25s ease;
				fill: variables.$black;
			}
		}

		.linkedin {
			path {
				fill: variables.$black;
			}

			path:last-child {
				fill: var(--gold);
			}
		}
	}

	.ham_menu {
		float: right;
		display: block;
		position: relative;
		user-select: none;
		z-index: 1;
		cursor: pointer;

		span {
			display: block;
			width: 27px;
			height: 4px;
			margin-bottom: 4px;
			position: relative;
			background: var(--secondary);
			border-radius: 200px;
			z-index: 1;
			transition: 0.5s ease;
		}

		span:first-child {
			margin-top: 4px;
		}
	}

	&.open_menu {
		li:not(:first-child) {
			transform-origin: left;
			animation: slideIn 0.5s ease forwards;
		}

		@keyframes slideIn {
			0% {
				transform: translateX(-100%);
			}

			100% {
				transform: translateX(0);
			}
		}

		li:first-child {
			order: -1;
		}

		.ham_menu {
			span:first-child {
				transform: translate(0px, 8px) rotate(45deg);
			}

			span:nth-last-child(2) {
				transform: rotateY(90deg);
				opacity: 0;
			}

			span:last-child {
				transform: translate(0px, -8px) rotate(-45deg);
			}
		}
	}

	@media only screen and (min-width: 600px) {
		.mode {
			&.light {
				.mode_slider_circle {
					transform: translateX(1rem);
				}
			}
		}

		.mode_slider {
			width: 2.1rem;
		}
	}

	@media only screen and (min-width: 800px) {
		transition: 0.5s ease;
		width: 100%;

		ul {
			flex-direction: row;
			justify-content: space-between !important;
			align-items: center;
		}

		li:not(:first-child) {
			transform-origin: top;
			animation: rotateOut 0.5s ease forwards;
		}

		@keyframes rotateOut {
			0% {
				transform: rotateX(0);
			}

			100% {
				transform: rotateX(90deg);
			}
		}

		a,
		.mode {
			padding: 0.5rem;
			margin: 0.5rem;
			border-radius: 0.25rem;
		}

		.mode {
			&.light {
				.mode_slider_circle {
					transform: translateX(1rem);
				}
			}
		}

		.mode_slider {
			width: 2.1rem;
		}

		li:last-child {
			margin-left: auto;
		}

		.socials {
			svg {
				width: 1.5rem;
				height: 1.5rem;
			}
		}

		&.open_menu {
			width: 100%;
			background-color: variables.$blue;

			li:not(:first-child) {
				transform-origin: top;
				animation: rotateIn 0.5s ease forwards;
			}

			@keyframes rotateIn {
				0% {
					transform: rotateX(90deg);
				}

				100% {
					transform: rotateX(0);
				}
			}
		}
	}

	@media only screen and (min-width: 1000px) {
		width: 100%;
		background-color: variables.$blue;

		ul {
			flex-direction: row;
		}

		li {
			margin: 0 0.5rem;
			text-align: center;
		}

		li:not(:first-child) {
			animation: none;
			transform: none;
		}

		li:first-child {
			display: none;
		}

		.mode_slider_circle {
			margin: 0.2rem 0.15rem;
		}
	}
}
