@use './variables';

.projects {
	margin: 2rem;

	.section_projects {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 1rem;
		width: 100%;
		overflow: hidden;
	}

	.project_item {
		display: flex;
		flex-direction: column;
		min-width: 160px;
		padding: 1rem;
		background-color: variables.$blue;
		border-radius: 0.5rem;
		text-align: center;

		h3 {
			margin-top: 1rem;
			white-space: nowrap;
		}

		img {
			width: 100%;
			height: 100%;
		}

		&.earlierProject {
			transform: translateX(-4rem);
			opacity: 0;

			&[data-slideforward='1'] {
				animation: earlierToPrevious 0.75s;
			}
		}

		@keyframes earlierToPrevious {
			0% {
				transform: translateX(-4rem);
			}

			100% {
				transform: translateX(calc(100% - 2rem));
				opacity: 0.5;
			}
		}

		&.previousProject {
			transform: translateX(-2rem);
			opacity: 0.5;

			&[data-slidebackward='1'] {
				animation: previousToEarlier 0.75s;
			}

			&[data-slideforward='1'] {
				animation: previousToCurrent 0.75s;
			}
		}

		@keyframes previousToEarlier {
			0% {
				transform: translateX(-2rem);
			}

			100% {
				transform: translateX(calc(-100% - 4rem));
				opacity: 0;
			}
		}

		@keyframes previousToCurrent {
			0% {
				transform: translateX(-2rem);
			}

			100% {
				transform: translateX(calc(100%));
				opacity: 1;
			}
		}

		&.currentProject {
			opacity: 1;

			&[data-slidebackward='1'] {
				animation: currentToPrevious 0.75s;
			}

			&[data-slideforward='1'] {
				animation: currentToNext 0.75s;
			}
		}

		@keyframes currentToPrevious {
			0% {
				transform: translateX(0);
			}

			100% {
				transform: translateX(calc(-100% - 2rem));
				opacity: 0.5;
			}
		}

		@keyframes currentToNext {
			0% {
				transform: translateX(0);
			}

			100% {
				transform: translateX(calc(100% + 2rem));
				opacity: 0.5;
			}
		}

		&.nextProject {
			transform: translateX(2rem);
			opacity: 0.5;

			&[data-slidebackward='1'] {
				animation: nextToCurrent 0.75s;
			}

			&[data-slideforward='1'] {
				animation: nextToLater 0.75s;
			}
		}

		@keyframes nextToCurrent {
			0% {
				transform: translateX(2rem);
			}

			100% {
				transform: translateX(calc(-100%));
				opacity: 1;
			}
		}

		@keyframes nextToLater {
			0% {
				transform: translateX(2rem);
			}

			100% {
				transform: translateX(calc(100% + 4rem));
			}
		}

		&.laterProject {
			transform: translateX(4rem);
			opacity: 0;

			&[data-slidebackward='1'] {
				animation: laterToNext 0.75s;
			}
		}

		@keyframes laterToNext {
			0% {
				transform: translateX(4rem);
			}

			100% {
				transform: translateX(calc(-100% + 2rem));
				opacity: 0.5;
			}
		}

		@media only screen and (min-width: 600px) {
			min-width: 30%;
		}

		@media only screen and (min-width: 1200px) {
			min-width: 400px;
		}
	}

	.projects_controls {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		user-select: none;
	}

	.links {
		flex: 1;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		order: 10;
	}

	@media only screen and (min-width: 299px) {
		.links {
			order: initial;
		}
	}

	@media only screen and (min-width: 427px) {
		.links {
			flex: initial;
		}
	}

	.button {
		flex: 1;
		text-align: center;
		padding: 0.75rem 1rem;
		margin: 1rem;
		border-radius: 5rem;
		color: variables.$black;
		transition: 0.25s ease;
		background-color: var(--gold);
		border: 2px solid transparent;
		white-space: nowrap;
	}

	.button:hover {
		border-color: var(--secondary);
		filter: brightness(110%);
	}

	.button:active {
		filter: brightness(120%);
	}

	.arrow {
		margin: 1rem;
		font-size: 1.5rem;
		padding: 0.75rem;
		border-radius: 4px;
		color: var(--secondary);
		transition: 0.25s ease;
		border: 1px solid transparent;
		cursor: pointer;
	}

	.arrow:hover {
		color: var(--primary);
		border-color: var(--secondary);
		background-color: var(--gold);
	}

	.arrow:active {
		filter: brightness(110%);
	}
}
