@use './styles/variables';

:root {
	font-family: 'Inconsolata', 'Gill Sans', 'Big Shoulders Text', sans-serif;
	font-size: 12px;
	font-weight: 600;
	overflow-y: auto;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

a {
	color: var(--primary);
	text-decoration: none;
	font-size: 1.25rem;
}

.app {
	min-height: 100vh;
	width: 100%;
	color: var(--secondary);
	background-color: var(--primary);
	transition: 0.75s ease;
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 620px) {
	:root {
		font-size: 14px;
	}
}

@media only screen and (min-width: 768px) {
	:root {
		font-size: 16px;
	}
}
